<%include header %>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">405API_TOKEN</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a data-toggle="modal" data-target="#HowTo">API LINK</a></li>
      <li><a data-toggle="modal" data-target="#Team">Team</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a data-toggle="modal" data-target="#Signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a data-toggle="modal" data-target="#Login"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
    </ul>
  </div>
</nav> <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
      
    </header>
<!--Find customer-->
<!--div class="row">
<div class="user">
 <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
        <h1 class="user__title">Find Customer:</h1>
    </header>
    <form class="form">
        <div class="form__group">
            <input type="number" placeholder="get data user id" name="id" class="form__input" />
            <button class="btn" type="button">GET</button>
        </div> 
    </form>   
</div>  
</div-->

<div class="row">
<!--Delete customer-->
    <!--div class="col-sm-4">
        <div class="user">
            <header class="user__header">       
                <h1 class="user__title">Delete Customer:</h1>
                </header>
                <form class="form"> 
                    <div class="form__group">
                        <input type="number" placeholder="delete user id" name="id" class="form__input" />
                        <input type="text" placeholder="Token" name="token" class="form__input" />
                        <button class="btn" type="button">Delete</button>
                    </div> 
                </form>    
            </div>
        </div-->
    <!--Add customer-->
    <div class="col-sm-12">
        <div class="user">    
            <header class="user__header">       
                <h1 class="user__title">Add Customer:</h1>
            </header>    
            <form method="POST" action="/user" class="form">
                <div class="form__group">
                    <input type="text" placeholder="Name" name="name" class="form__input" />
                </div>
                
                <div class="form__group">
                    <input type="email" name="email" placeholder="Email" class="form__input" />
                </div>
                
                <div class="form__group">
                    <input type="number" placeholder="Age" name="age" class="form__input" />
                </div>
                <div class="form__group">
                    <input type="text" placeholder="Token" name="token" class="form__input" />
                </div>          
                <button class="btn" type="submit">Add</button>
            </form>
        </div>
    </div>
    <!--Edit customer-->
    <!--div class="col-sm-4">
        <div class="user">     
            <header class="user__header">       
                <h1 class="user__title">Edit Customer:</h1>
            </header>    
            <form method="PUT" action="/" class="form">
                <div class="form__group">
                    <input type="number" placeholder="ID" name="id" class="form__input" />
                </div>
                <div class="form__group">
                    <input type="text" placeholder="Name" name="name" class="form__input" />
                </div>
                
                <div class="form__group">
                    <input type="email" name="email" placeholder="Email" class="form__input" />
                </div>
                
                <div class="form__group">
                    <input type="number" placeholder="Age" name="age" class="form__input" />
                </div>
                <div class="form__group">
                    <input type="text" placeholder="Token" name="token" class="form__input" />
                </div>          
                <button class="btn" type="submit">Edit</button>
            </form>
        </div>
    </div-->
</div> 
<!--Table-->
<header class="user__header">
    <h1 class="user__title"><%= title %></h1>
</header>
<div class="table-title" style="height:30px">
    
    </div>
    <table class="table-fill">
    <thead>
    <tr>
    <th class="text-left">ID</th>
    <th class="text-left">Name</th>
    <th class="text-left">Age</th>
    <th class="text-left">Email</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <% users.forEach((user)=>{ %>
            <tr>
            <td class="text-left"><%= user.id%></td>
            <td class="text-left"><%= user.name%></td>
            <td class="text-left"><%= user.age %></td>
            <td class="text-left"><%= user.email %></td> 
            </tr>
            <% }); %>
    </tbody>
    </table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Team -->
<div class="modal fade" id="Team" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Team</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        1.Kornkamon Suttitanawat 570610544 <br>
        2.Apinun Uppanun 570610618
      </div>
    </div>
  </div>
</div>
<!-- Modal API LINK-->
<div class="modal fade" id="HowTo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">How to Use</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="container">
      <h4><b> get user </b></h4>
        <ul>
            <li>GET https://fierce-wave-28920.herokuapp.com/user</li> 
            <li> GET https://fierce-wave-28920.herokuapp.com/user/id</li> 
            </ul>
            <br><h4><b>Signup -></b></h4><br>POST https://fierce-wave-28920.herokuapp.com/signup
        <br><h4><b>Login -></b> </h4><br>POST https://fierce-wave-28920.herokuapp.com/login
            <h3><b>USE TOKEN</b></h3>
            <br><h4><b>add user </b></h4>
        <ul>
            <li>GET https://fierce-wave-28920.herokuapp.com/user</li> 
            <li> GET https://fierce-wave-28920.herokuapp.com/user/id</li> 
            </ul>
        </div>
        <br><h4><b>Delete user -> </b></h4><br>DELETE https://fierce-wave-28920.herokuapp.com/user/id     
           
        <br><h4><b>Edit user -> </b></h4><br>PUT https://fierce-wave-28920.herokuapp.com/user/id
        
      </div>      
       
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
<!-- Modal Signup-->
<div id="Signup" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
				<div class="avatar">
					<img src="/image/avatar.png" alt="Avatar">
				</div>				
				<h4 class="modal-title">Member SignUp</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form action="/signup" method="POST">
					<div class="form-group">
						<input type="text" class="form-control" name="email" placeholder="Email" required="required">		
					</div>
                    <div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Password" required="required">	
					</div> 
                    <div class="form-group">
						<input type="text" class="form-control" name="name" placeholder="name" required="required">	
					</div> 
					<div class="form-group">
						<input type="number" class="form-control" name="age" placeholder="age" required="required">	
					</div>        
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Sign up</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> 
<!--log in-->
<div id="Login" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
				<div class="avatar">
					<img src="/image/avatar.png" alt="Avatar">
				</div>				
				<h4 class="modal-title">Member Login</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form action="/login" method="POST">
					<div class="form-group">
						<input type="text" class="form-control" name="email" placeholder="Email" required="required">		
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Password" required="required">	
					</div>        
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>     
<%include footer %>